.navigation-bar {
    position: fixed;
    top: 0;
}

.nav-link {
    color:white;
    font-size: 1.5rem;
    margin: 0 4rem;
}

.nav-item:hover {
    background-color: white;
    opacity: 0.6;
}

.nav-link:hover {
    color: black !important;
}

#card-2 {
    z-index: -1000;
}

#card-3 {
    z-index: -1000;
}

.intro-background {
    background-image: url(../media/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    text-align: center;
}

.intro-text{
    position: absolute;
    color: white;
    bottom: 20%;
}

.intro-social-media {
    position: absolute;
    bottom: 5%;
    left: 35%;
    width: 30%;
    display: table;
}

.via {
    display: table-cell;
    width: 25%;
    text-align: center;
}

.via a{
    color:white;
    width: 25%;
    font-size: 2.5rem;
}

.via a:hover {
    color:black;
}

.cv-content{
    height: 100vh;
    background-color: #EEEEEE;
    position: relative;
}

.education {
    width:50%;
    height: 80vh;
    position: absolute;
    bottom: 12.5vh;
    left: 0;
}
.work-experience {
    width:50%;
    height:80vh;
    position: absolute;
    bottom: 12.5vh;
    right: 0;
    border-left: 5px solid #D65A31;
}

.education-dot {
    height: 15px;
    width: 15px;
    background-color: #222831;
    position: relative;
    left: 99.05%;
    bottom: -8px;
    z-index: 100000;
    border-radius: 100%;
}

.work-dot {
    height: 15px;
    width: 15px;
    background-color: #222831;
    position: relative;
    right: 10px;
    bottom: -8px;
    z-index: 100000;
    border-radius: 100%;
}

#bsc-studies {
    border-bottom: 2px solid #D65A31;
    position: absolute;
    left: 25%;
    width: 75%;
    top: 5%;
}

#bsc-studies h3 {
    color: #D65A31;
}

#msc-studies {
    border-bottom: 2px solid #D65A31;
    position: absolute;
    left: 25%;
    width: 75%;
    top: 25%;
}

#msc-studies h3 {
    color: #D65A31;
}

#virendel {
    border-bottom: 2px solid #D65A31;
    position: absolute;
    right: 25%;
    width: 75%;
    top: 10%;
    text-align: right;
}

#virendel h3 {
    color: #D65A31;
}

#bisernica {
    border-bottom: 2px solid #D65A31;
    position: absolute;
    right: 25%;
    width: 75%;
    top: 27.5%;
    text-align: right;
}

#bisernica h3 {
    color: #D65A31;
}

#embassy {
    border-bottom: 2px solid #D65A31;
    position: absolute;
    right: 25%;
    width: 75%;
    top: 45%;
    text-align: right;
}

#embassy h3 {
    color: #D65A31;
}

#proekt-ing {
    border-bottom: 2px solid #D65A31;
    position: absolute;
    right: 25%;
    width: 75%;
    top: 62.5%;
    text-align: right;
}

#proekt-ing h3 {
    color: #D65A31;
}

#s4m {
    border-bottom: 2px solid #D65A31;
    position: absolute;
    right: 25%;
    width: 75%;
    top: 80%;
    text-align: right;
}

#s4m h3 {
    color: #D65A31;
}

#download-cv {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
}

.btn {
    background-color: transparent;
    border-color: #D65A31;
    font-size: 1.5rem;
    min-width: 12vw;
    margin-right: 2.5vw !important;

}

#btn2 {
    min-width: 12vw;
    margin-right: 0 !important;
}

.btn:hover {
    background-color: #D65A31;
    color: white;
}

.portfolio-content {
    position: relative;
    height: 100vh;
    background-color: #222831;
}

.portfolio-content a {
    color: white;
    text-decoration: none;
}

.carousel {
    position: absolute;
    left: 20vw;
    top: 7.1vh;
    width: 60vw;
}

.civandpyth {
    position: absolute;
    left: 20vw;
    width: 60vw;
    bottom: 0.5vh;
    height: 25vh;
    display: table;
    padding-top: 6vh;
}

.civandpyth i {
    font-size: 6.5vh;
}

.civandpyth p {
    font-size: 2.5vh;
    padding-top: 2vh;
}

.civandpyth i:hover {
    color: black;
}

.construction-box {
    color: white;
    text-align: center;
    width: 20vw;
    display: table-cell;
}

.python-box {
    color: white;
    text-align: center;
    width: 20vw;
    display: table-cell;
}

.last-section-content{
    height: 100vh;
    background-color: #EEEEEE;
    position: relative;
}

.cards {
    position: absolute;
    width: 60vw;
    text-align: center;
    top: 2.5vh;
    margin-left: 20vw;
    padding: 5vh 2.5vh;
}

.img-fluid {
    min-height: 25vh;
    max-height: 26vh;
}

.credits {
    background-color: #222831;
    text-align: center;
    padding: 0.5rem;
    color: white;
}

.credits p {
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 992px) {
    .navigation-bar {
    opacity: 0.75;
    }

    .intro-background {
        background-image: url(../media/mobile-profle.jpg);
        font-size: 20%;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    .intro-text{
        bottom:30%;
    }

    .intro-social-media {
        bottom: 5%;
        width: 60%;
        left: 20%;
    }

    .via a{
        font-size: 4rem;
    }

    .navbar-toggler {
        margin-left: 90%;
        color: white !important;
        border-color: white !important;
        border-width: 3px;
        min-height: 80px;
        min-width: 80px;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .navbar-toggler-icon {
        min-height: 60px;
        min-width: 60px;

    }
    .nav-item {
        text-align: right;
    }

    .nav-link{
        margin-right: 0.5%;
        font-size: 3rem;
    }

    .cv-content h3 {
    font-size:2.5rem;
    }
    .cv-content h5 {
    font-size:1.8rem;
    }

    #bsc-studies {
    left: 5%;
    width: 95%;
    }

    #msc-studies {
    left: 5%;
    width: 95%;
    }

    #virendel {
        border-bottom: 2px solid #D65A31;
        right: 5%;
        width: 95%;
    }

    #bisernica {
        right: 5%;
        width: 95%;
    }

    #embassy {
        right: 5%;
        width: 95%;
    }

    #proekt-ing {
        right: 5%;
        width: 95%;
    }

    #s4m {
        right: 5%;
        width: 95%;
    }

    #download-cv {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 5%;
    }

    .btn {
        color: white;
        background-color: #D65A31;
        border-color: #D65A31;
        font-size: 3rem;
        min-width: 40vw;
        margin-right: 5vw !important;
    }

    #btn2 {
        min-width: 40vw;
        margin-right: 0 !important;
    }

    .work-dot {
        right: 9.5px;
    }

    .education-dot {
        left: 99.05%;
    }

    .carousel {
        width: 90vw;
        left: 5vw;
        top: 7vh;
    }

    .civandpyth {
        width: 90vw;
        left: 5vw;
        height: 50vh;
        display: block;
        top: 27.5vh;
        padding-top: 5vh;
    }

    .construction-box {
        width: 90vw;
        display: block;
        margin-bottom: 8vh;
    }

    .portfolio-content a {
    color: white;
    text-decoration: none;
    }

    .python-box {
        width: 90vw;
        display: block;
    }

    .cards {
    max-width: 95vw;
    width: 80vw;
    top: 7.5vh;
    margin-left: 10vw;
    padding: 5vh 2.5vh;
}

    .img-fluid {
    min-height: 25vh;
}

    .card-title {
        font-size: 3rem;
    }

    .card-text {
        font-size: 2rem;
    }

    .credits {
    background-color: #222831;
    text-align: center;
    padding: 0.5rem;
    color: white;
}

    .credits p {
        margin: 0;
        font-size: 1.5rem;
    }
    #card-2 {
            z-index: -1000;
            position: absolute;
        }

    .col-md-4 {
        width: 100% !important;
    }

    .col-md-8 {
        width: auto !important;
    }

    .col-md-4 img {
        width: 100% !important;
    }
}



@media (min-width: 540px) and (max-width: 1023px) {
    .navigation-bar {
    opacity: 0.75;
    }

    .cv-content h3 {
    font-size: 2rem;
    margin-bottom: 4px;
    }

    .cv-content h5 {
        font-size: 1.5rem;
        margin-bottom: 4px;
    }

    .btn {
        min-width: 35vw;
    }

    #btn2 {
        min-width: 35vw;
    }

    .carousel {
        top: 8.5vh;
    }

    .civandpyth {
        padding-top: 25.5vh;
    }

    .cards {
    max-width: 95vw;
    width: 80vw;
    top: 7.5vh;
    margin-left: 10vw;
    padding: 5vh 2.5vh;
    position:relative;
}

    .img-fluid {
    min-height: 25vh;
}

    .card-title {
        font-size: 3rem;
    }

    .card-text {
        font-size: 2rem;
    }

    #card-2 {
        z-index: -1000;
        position: absolute;
    }
    .col-md-4 {
        width: 100% !important;
    }

    .col-md-8 {
        width: auto !important;
    }

    .col-md-4 img {
        width: 100% !important;
    }

}

@media (min-width: 1023px) and (max-width: 1279px) {
    .navigation-bar {
    mix-blend-mode: difference;
    }

    .navbar {
    background-color: transparent !important;
    }
    .cv-content h3 {
    font-size: 1.25rem;
    margin-bottom: 4px;
    }

    .cv-content h5 {
        font-size: 0.75rem;
        margin-bottom: 4px;
    }
    .work-dot {
        width: 12.5px;
        height: 12.5px;
        right: 9px;
    }

    .education-dot {
        width: 12.5px;
        height: 12.5px;
    }

    .btn {
        font-size: 1rem;
    }

    .carousel {
        top: 11vh;
    }
    .civandpyth {
        width: 60vw;
        left: 20vw;
        padding-top: 10vh;
    }

    .civandpyth i {
        font-size: 7.5vh;
    }

    .civandpyth p {
        font-size: 3.5vh;

    }

    .cards {
    max-width: 90vw;
    width: 90vw;
    top: 7.5vh;
    margin-left: 5vw;
    padding: 5vh 2.5vh;
}

    .img-fluid {
    min-height: 15vh;
    max-height: 25vh;
}
}

@media (min-width: 1280px) and (max-width: 3000px) {
    .navigation-bar {
    mix-blend-mode: difference;
    }

    .navbar {
    background-color: transparent !important;
    }

    .cv-content h3 {
    font-size: 1.5rem;
    margin-bottom: 4px;
    }

    .cv-content h5 {
        font-size: 1rem;
        margin-bottom: 4px;
    }

    .education-dot {
        left: 99.05%;
    }

    .carousel {
        width: 55vw;
        left: 22.5vw;
    }
    .civandpyth {
        padding-top: 7.5vh;
    }

    .cards {
        top: 8vh;
    }
}